---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello !</h1>
      <p>
        My name is Noah. I am skilled software developer. Welcome to my digital
        garden.
      </p>
      <p>
        This is my personal site where I drop notes and articles about things
        that I am interested in. My goal is synthesize information, I try to
        combine information to better understand concepts I think about.
      </p>

      <a href="/blog/about-the-articles">
        Good first read: why these articles
      </a>

      <p>
        If you like something you read here, please feel free to share it and
        let me know. You can reach out on <a
          href="mailto:mathewnoah.medium@gmail.com">my email</a
        >. It’s always nice to get feedback.
      </p>
    </main>
    <Footer />
  </body>
</html>
